.images[data-visible="false"] {
  display: none;
}

.role {
  color: hsl(var(--clr-white) / 0.5);
}

.role[data-visible="false"] {
  display: none;
}

.name[data-visible="false"] {
  display: none;
}

.bio {
  color: hsl(var(--clr-light) / 0.5);
}

.bio[data-visible="false"] {
  display: none;
}

.header {
  --flow-space: 0.5rem;
}

.con {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.con > img {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
}

.con > .tabs {
  grid-area: tabs;
}

.con > .content {
  grid-area: content;
}

@media (max-width: 40em) {
  .bg3 {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .bg2 {
    display: none;
  }
  .bg1 {
    display: none;
  }
}

@media (min-width: 40em) {
  .bg3 {
    display: none;
  }
  .bg2 {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .bg1 {
    display: none;
  }
  .con {
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
    padding-bottom: 0;
  }
}

@media (min-width: 50em) {
  .bg3 {
    display: none;
  }
  .bg2 {
    display: none;
  }
  .bg1 {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
  }
  .con {
    justify-items: start;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". tabs image .";
  }
  .con > img {
    max-width: 100%;
    align-self: end;
  }
}
