.con {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.con > img {
  grid-area: image;
  max-width: 60%;
}

.con > .tabs {
  grid-area: tabs;
}

.con > .info {
  grid-area: content;
}

.meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destinations {
  background-color: transparent;
}

.planets[data-visible="false"] {
  display: none;
}

.name[data-visible="false"] {
  display: none;
}

.description[data-visible="false"] {
  display: none;
}

.distance[data-visible="false"] {
  display: none;
}

.travel[data-visible="false"] {
  display: none;
}

@media (max-width: 40em) {
  .bg3 {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .bg2 {
    display: none;
  }
  .bg1 {
    display: none;
  }
}

@media (min-width: 40em) {
  .bg3 {
    display: none;
  }
  .bg2 {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .bg1 {
    display: none;
  }
  .meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 50em) {
  .bg3 {
    display: none;
  }
  .bg2 {
    display: none;
  }
  .bg1 {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
  }

  .con {
    justify-items: start;
    align-items: start;
    grid-template-areas:
      ". title title . "
      ". image tabs ."
      ". image content .";
  }

  .con > img {
    max-width: 90%;
  }

  .meta {
    --gap: min(6vw, 6rem);
    justify-content: start;
  }
}
