.images[data-visible="false"] {
  display: none;
}

h2.role {
  color: hsl(var(--clr-light));
  max-width: 100%;
}

.name[data-visible="false"] {
  display: none;
}

.bio {
  color: hsl(var(--clr-light) / 1);
}

.bio[data-visible="false"] {
  display: none;
}

.header {
  --flow-space: 0.75rem;
}

.con {
  padding: 0 0 3rem 0;
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.con > img {
  grid-area: image;
  max-width: 100vw;
  padding: 2rem 0;
  margin: 0;
}

.con > .tabs {
  grid-area: tabs;
}

.con > .content {
  grid-area: content;
}

@media (max-width: 40em) {
  .bg3 {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .bg2 {
    display: none;
  }
  .bg1 {
    display: none;
  }
}

@media (min-width: 40em) {
  .bg3 {
    display: none;
  }
  .bg2 {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .bg1 {
    display: none;
  }
}

@media (min-width: 50em) {
  .bg3 {
    display: none;
  }
  .bg2 {
    display: none;
  }
  .bg1 {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
  }
}
